*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 1200px){
    .container{
        width: 1200px;
    }
}
body{
    font-family: "微软雅黑";
    font-size: 16px;
}
.clearfix::after{
    clear: both;
    display: table;
    content: "";
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    h1{
       text-indent: -9999px;
        position: absolute;
    }
    .nav>li>a{
        padding: 22px 15px;
        color: #85827b;
    }
    .nav>li>a:hover{
        background-color: #a77b54;
        color: #fff;
    }
    .nav{
        float: right;
    }
    .nav-pills>li.active>a{
        background-color: #a77b54;
    }
    .nav-pills>li.active>a:hover{
        background-color: #a77b54;
    }
    .nav-pills>li>a{
        border-radius: 0px;
    }
    .logo{
        padding-top: 10px;
        float: left;
    }
    .nav-pills>li+li{
        margin-left: 0px;
    }
}

@media (max-width: 720px){
    header .logo{
        width: 50%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    header .nav>li>a{
        float: none;
        padding:6px 5px;
        font-size: 12px;
    }
}
.banner{
    margin-bottom: 100px;
    img{
        width: 100%;
        cursor: pointer;
    }
    .gaibian{
        background-image: none;
    }
    .carousel-indicators li{
        width: 20px;
        height: 4px;
        border-radius:0px;
    }
    .banner-img{
        height: 675px;
        overflow: hidden;
    }
}
@media (max-width: 960px){
    .banner{
        margin-bottom: 50px;
    }
}
@media (max-width: 720px){
    .banner{
        margin-bottom: 50px;
    }
}
h2{
        font-size: 24px;
        color:#555555;
        margin-bottom: 35px;
}
.pages{
    padding-bottom: 100px;
    .col-tsf{
        width: 100%;
        overflow: hidden;
    }
    img{
        width: 100%;
        cursor: pointer;
        transition: 2s;
        &:hover{
            
            transform: scale(1.1,1.1);
        }
    }
    h3{
        font-size: 18px;
        color: #555555;
        margin-top: 26px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        color: #96969c;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    .pages-box{
        a{
            display:inline-block;
            background-color: #6e6e6e;
            color: #fff;
            padding:8px 12px;
            font-size: 14px;
            &:hover{
                background-color: #eeeeee;
                color: #6f6f6f;
                span{
                    background: url(../images/pages2.png) no-repeat right center;
                }
            }
            span{
                display: block;
                padding-right: 65px;
                background: url(../images/pages3.png) no-repeat right center;
            }
        }
    }
    
}
.banner .banner-img{
    height: auto;
}



.sidebar{
    margin-bottom: 100px;
    img{
        width: 100%;
        margin-bottom: 30px;
    }
    .sidebar-a{
        padding-left: 45px;
        padding-right: 45px;
    }
    a{
        width: 100%;
        height: 196px;
        display: block;
        transition: 0.5s;
        
    }
    .sidebar-a1{
        background: url(../images/sidebar1.png) no-repeat;
        background-size: contain;
        &:hover{
            background: url(../images/sidebar1-1.png) no-repeat;
            background-size: contain;
        }
    }
    .sidebar-a2{
        background: url(../images/sidebar2.png) no-repeat;
        background-size: contain;
        &:hover{
            background: url(../images/sidebar2-2.png) no-repeat;
            background-size: contain;
        }
    }
    .sidebar-a3{
        background: url(../images/sidebar3.png) no-repeat;
        background-size: contain;
        &:hover{
            background: url(../images/sidebar3-3.png) no-repeat;
            background-size: contain;
        }
    }
    .sidebar-a4{
        background: url(../images/sidebar4.png) no-repeat;
        background-size: contain;
        &:hover{
            background: url(../images/sidebar4-4.png) no-repeat;
            background-size: contain;
        }
    }
}
@media (max-width: 968px){
    .sidebar{
        margin-bottom: 50px;
    }
    .sidebar a{
        height: 80px;
    }
}
@media (max-width: 720px){
    .sidebar{
        margin-bottom: 50px;
        .sidebar-a{
            padding: 0px;
        }
    }
    .sidebar img{
        margin-bottom: 18px;
    }
    .sidebar a{
        height: 40px;
    }
}
.jianjie{
    margin-bottom: 100px;
    img{
        width: 40%;
        margin-right: 30px;
        float: left;
    }
    p{
        font-size: 14px;
        text-indent:2em;
        line-height: 2em;
    }
}
@media (max-width: 968px){
    .jianjie{
        margin-bottom: 50px;
    }
}
@media (max-width: 720px){
    .jianjie{
        margin-bottom: 50px;
    }
}
.posts{
    .col-b{
        border-bottom: 1px solid #c8c8c8;
        margin-bottom: 35px;
    }
    .col-tsf{
        margin-bottom: 20px;
    }
}
@media (max-width: 720px){
    .pages{
        padding-bottom: 50px;
    }
    .pages .pages-box a{
        padding: 6px 6px;
    }
    .pages .pages-box a span{
        padding-right:22px;
    }
    .pages p{
        font-size: 12px;
    }
    .pages h3{
        font-size: 16px;
    }
}
.index-main{
//    background-color: #716c6c;
    h2{
        color:#272424;
    }
    .ul>li{
        font-size: 14px;
    }
    a{
        display: block;
        color: #888787;
        &:hover{
            text-decoration: none;
            color: #080808;
        }
        img{
            width: 100%;
        }
    }
}

footer{
    background-color: #f5f5f5;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
.contactusdiyou{
    background-color:#aba9a8;
}
.contactusdiyou .hoverbtn{
    top: 80%;
    background-color: #929394;
    webkit-box-shadow:none; 
     box-shadow: none;
}




.approach-banner{
    width: 100%;
    margin-bottom: 50px;
    img{
        width: 100%;
    }
    video{
        width: 100%;
    }
}

.approach-fabiao{
    margin-bottom: 50px;
    .approach-box{
        background-color: #a77b54;
        span{
            padding: 20px 16px;
            display:block;
            float: left;
            text-decoration: none;
            color: #555;
            cursor: pointer;
            border-right: 1px solid #fff;
            &:hover{
                background-color: #ccc;
                color: #fff;
            }
        }
        span:nth-of-type(3){
            border: none;
        }
        .approach-box-a{
            background-color: #ccc;
            color: #fff;
        }
        
    }
    
}
.approach-jianjie{
    margin-bottom: 20px;
    .approach-jianjie-box2{
        img{
            width: 100%;
        }
    }
    .approach-jianjie-box3{
        p{
         text-indent:0em;
        }
        img{
            float: right;
            margin-right: 0px;
            margin-left: 30px;
        }
    }
    
}
.display-none{
    display: none;
}
.block{
    display: block;
}


.productdisplay{
    padding-bottom: 80px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    .productdisplay-box{
        position: relative;
        a{
            position: absolute;
            top: 0px;
            right:0px;
            color: #96969c;
            text-decoration: none;
        }
    }
    
}

@media (max-width: 720px){
    .productdisplay .productdisplay-box a{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }
}
.product{
    padding-bottom: 100px;
    border: none;
    img{
        transform: scale(1.1,1.1);
        &:hover{
            transform: scale(1.2,1.2);
        }
    }
}

.league{
    h2{
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 1px #ccc dashed;
        font-size: 32px;
    }
    .league-box{
        background-color: #a77b54;
        span{
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            border-right: 2px solid #fff;
            cursor: pointer;
            font-size: 22px;
            color: #555;
        }
        span:nth-of-type(4){
            border: none;
        }
         .approach-box-a{
            background-color: #ccc;
            color: #fff;
        }
    } 
   
}

.league-league{
        img{
        width: 100%;
        margin: 0px;
        float: none;
    }
}

@media (max-width: 720px){
    .league .league-box span{
        font-size: 14px;
    }
    .league .league-box span{
        padding-top: 2px;
        padding-bottom: 1px;
    }
    .league{
        margin-bottom: 20px;
    }
}

.trademark-pages{
    img{
        width: 100%;
    }
    p{
        color: #828282;
        font-size: 14px;
        span{
            color: #a77b54;
            font-weight: 600;
        }
    }
    .trademark-margin{
        margin-bottom: 20px;
    }
    .trademark-box3{
        span{
            display: block;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid #ccc;
        }
        .trademark-box4{
            background-color: #ccc;
            border: 1px solid #a77b54;
            color: #000;
        }
    }
    .trademark-bo1{
        display: none;
    }
    .trademark-block{
        display: block;
    }
}
