*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
.box{
    float: left;
    padding:5px;
    img{
        width: 400px;    
        border: 1px solid #999;
        padding: 5px;
        box-shadow: 0 0 5px #666;
    }
}




