@charset "UTF-8";
/*!
 * shengbangshenghua
*/
p {
  font-size: 24px; }

.hei {
  font-family: "黑体"; }

.kai {
  font-family: "楷体"; }

@font-face {
  font-family: MFQingShu;
  src: url("../font/MFQingShu.otf"); }

.MFQingShu {
  font-family: MFQingShu; }

@font-face {
  font-family: Hydra;
  src: url("../font/Hydra.ttf"); }

.Hydra {
  font-family: Hydra; }

@font-face {
  font-family: font;
  src: url("../font/font.ttf"); }

.font {
  font-family: font; }

.color {
  color: #ff8b57; }
